.ars {
    fill: #EF0107;
    stroke: #DB0007;
}

.avl {
    fill: #95BFE5;
    stroke: #670E36;
}

.bou {
    fill: #DA291C;
    stroke: #000000;
}

.bha {
    fill: #0057B8;
    stroke: #CCCCCC;
}

.bur {
    fill: #6C1D45;
    stroke: #99D6EA;
}

.che {
    fill: #034694;
    stroke: #D1D3D4;
}

.eve {
    fill: #003399;
    stroke: #CCCCCC;
}

.lei {
    fill: #003090;
    stroke: #FDBE11;
}

.liv {
    fill: #C8102E;
    stroke: #00B2A9;
}

.mci {
    fill: #6CABDD;
    stroke: #FFC659;
}

.mun {
    fill: #DA291C;
    stroke: #FBE122;
}

.new {
    fill: #241F20;
    stroke: #BBBCBC;
}

.nor {
    fill: #FFF200;
    stroke: #00A650;
}

.shu {
    fill: #EE2737;
    stroke: #0D171A;
}

.sou {
    fill: #D71920;
    stroke: #130C0E;
}

.tot {
    fill: #132257;
    stroke: #CCCCCC;
}

.wat {
    fill: #FBEE23;
    stroke: #11210C;
}

.whu {
    fill: #7A263A;
    stroke: #F3D459;
}

.wol {
    fill: #FDB913;
    stroke: #231F20;
}
