* {
  font-family: "Roboto", sans-serif;
}

/* Layout */

.header-wrapper {
  width: 1500px;
  height: 120px;
}

#header {
  height: 50px;
}

#description {
  height: 70px;
}

.wrapper {
  width: 1500px;
  height: 1100px;
}

#controls {
  position: relative;
  width: 1500px;
  height: 100px;
}

#bump-chart {
  position: relative;
  width: 1000px;
  float: left;
  height: 500px;
  display: inline-block;
}

#bump-chart svg {
  width: 100%;
  height: 100%;
}

#bump-chart line {
  stroke-width: 2;
}

#game-table {
  position: relative;
  width: 1000px;
  height: 500px;
  float: left;
}

#season-chart {
  position: relative;
  width: 500px;
  height: 600px;
  display: inline-block;
}

#game-detail {
  position: relative;
  width: 500px;
  height: 400px;
  top: -405px;
  display: inline-block;
  float: right;
}

.tooltip {
  position: absolute;
  text-align: left;
  min-width: 70px;
  min-height: 30px;
  font: 12px sans-serif;
  padding: 3px;
  background: white;
  stroke: gray;
  border-radius: 3px;
  pointer-events: none;
}

/* Header */

h1 {
  text-align: center;
}

.summary-text {
  text-align: center;
}

/* Axis labels */
.axis-label {
  font-size: 10pt;
  text-align: center;
}

/* Season summary chart */

#season-chart-svg {
  width: 480px;
  height: 980px;
  padding: 10px;
}

.season-summary-rect {
  stroke-width: 1px;
  rx: 2px;
}

.season-summary-label {
  font-size: 8pt;
  text-align: left;
}

/* Game summary chart */

#game-table-svg {
  width: 980px;
  height: 480px;
  padding: 10px;
}

.game-rect {
  stroke-width: 1px;
  stroke: lightgray;
}

.game-text {
  font-size: 8pt;
  text-align: center;
}

.game-header-text {
  font-size: 8pt;
  text-align: center;
}

.game-header-rect {
  stroke-width: 2px;
  opacity: 70%;
  rx: 4px;
}

.self-match-rect {
  fill: gray;
}

.selected-game {
  stroke-width: 3px;
  stroke: black;
}

.game-table-axis-label {
  font-size: 16px;
}

/* Game detail */

.game-header {
	text-align: center;
	font-size: 14pt;
  height: 20px;
}

.game-stats {
  text-align: center;
  font-size: 10pt;
  height: 15px;
}

.event-text {
  text-align: center;
  font-size: 10pt;
  height: 15px;
}

.detail-svg {
  position: relative;
  padding: 10px;
  width: 480px;
  height: 220px;
}

.half-line {
  stroke: black;
  stroke-width: 2px;
}

.half-text {
  font-size: 8pt;
}

.goal {
  stroke-width: 2px;
}

.card {
  stroke-width: 2px;
}

/* Things common to all views */

.grayed {
  opacity: 0.2;
}

.selected-team {
  stroke-width: 3px;
  stroke: #000000;
  opacity: 1;
}
